# ------------- app settings -------------
APP_NAME=""
APP_DESCRIPTION=""
APP_VERSION="0.1"
CONTACT_NAME="" # Insert
CONTACT_EMAIL="" # Insert
LICENSE_NAME="" # Insert

# ------------- database -------------
POSTGRES_USER="postgres"
POSTGRES_PASSWORD=1234
POSTGRES_SERVER="db"
POSTGRES_PORT=5432
POSTGRES_DB="postgres"
POSTGRES_ASYNC_PREFIX="postgresql+asyncpg://"

# ------------- crypt -------------
SECRET_KEY= # Choose a secret key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ------------- admin -------------
ADMIN_NAME="admin"
ADMIN_EMAIL="admin@admin.com"
ADMIN_USERNAME="" # Choose a username
ADMIN_PASSWORD="" # Choose a password

PGADMIN_DEFAULT_EMAIL="admin@admin.com"
PGADMIN_DEFAULT_PASSWORD="" # Choose a password

# ------------- redis cache -------------
REDIS_CACHE_HOST="redis"
REDIS_CACHE_PORT=6379

# ------------- redis queue -------------
REDIS_QUEUE_HOST="redis"
REDIS_QUEUE_PORT=6379

# ------------- redis rate limit -------------
REDIS_RATE_LIMIT_HOST="redis"
REDIS_RATE_LIMIT_PORT=6379

# ------------- client side cache -------------
CLIENT_CACHE_MAX_AGE=60

# ------------- test -------------
TEST_NAME="Leonardo Vida Test"
TEST_EMAIL="lleonardovida@gmail.com"
TEST_USERNAME="leonardovidatest"
TEST_PASSWORD="leonardovida"

# ------------- environment -------------
ENVIRONMENT="local"

# ------------- first tier -------------
TIER_NAME="free"

# -------------- LLM --------------------
OPENAI_API_KEY="" # Insert your OpenAI API key

# -------------- Sentry --------------------
SENTRY_DSN="" # Insert your sentry DNS key here
